html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
  display: block;
  line-height: 1.5;
  font-family: "PT Serif", serif;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

h1 {
  font-size: 1.5rem;
}

nav {
  display: block;
}

nav ol {
  font-size: .8rem;
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
}

ol {
  display: block;
}

li {
  display: list-item;
}

a {
  color: #8f2440;
  font-size: 1.125rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

figure {
  display: block;
}

header {
  display: block;
  margin-bottom: 1.2rem;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  display: block;
  font-style: italic;
}

div {
  display: block;
}

main figure + p {
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

strong {
  font-weight: normal;
}

.common {
  list-style-type: lower-greek;
}

dl + dt {
  font-weight: bold;
}

.serving {
  font-style: italic;
}

aside ul {
  list-style-type: circle;
}

small + a {
  color: #8f2440;
}
