html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
  display: block;
}

h1, h2 {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

nav {
  display: block;
}

nav ol {
  font-size: 0.8rem;
}

ol {
  display: block;
}

li {
  display: list-item;
}

ol + li + a {
  color: #8f2440;
  font-size: 1.125rem;
}

  figure {
  display: block;
}

header {
  display: block;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  display: block;
}

div {
  display: block;
}

.datetime + #P55D + #P65D {
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

h1 + ol + li {
  list-style-type: lower-alpha;
}

dl + dt {
  font-weight: bold;
}

.serving {
  font-style: italic;
}

  aside + ul {
  list-style-type: circle;
}

small + a {
  color: #8f2440;
}
