html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
  display: block;
}

h1, h2 {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

nav {
    display: block;
}

nav ol {
  font-size: 0.8rem;
}

ol {
  display: block;
}

li {
  display: list-item;
}

a {
  color: #8f2440;
  font-size: 1.125rem;
}


p {
  font-family: 'PT Serif', serif;
}
